<!--The content below is only a placeholder and can be replaced.-->
<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <mat-toolbar-row class="mat-toolbar-row">
      <button mat-icon-button id="menu" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="example-app-name">{{ title }}</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav #appDrawer mode="over" opened="false" fixedTopGap="56">
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>
