<div class="container">
  <br>
  <br>
  <h2 style="text-align: center;">
    Welcome to Patent Information Reporting Dashboard!
    <br>
    <br> You can use patent information reporting system using the actions in side navigation bar in the toolbar.
  </h2>
  <br>
  <div style="text-align: center; color: blueviolet">
    <h2>Patent Status Reporting</h2>
  </div>
  <table style="margin-left: 600px">
    <tr>
      <td>
        <app-reporting></app-reporting>
      </td>
    </tr>
  </table>
  <br>
  <br>
</div>
